@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.center {
    margin: 0 auto;
}

.ukeplan-img {
    width: 80%;
}

.hero {
    width: 100%;
}

.beskjed-bilde {
    width: 25%;
}

.medium-image {
    width: 65%;
}

.alarm-bilde {
width: 40%;
}

.download {
    font-size: 20px;
}

.center-content {
    text-align: center;
}

.beskjed {
    line-height: 25px;
    font-size: 18px;
}

.lenker {
font-size: 20px !important;
}

p, li {
    font-size: 16px;
}



.frame{  
        width: 250px;
        height: 200px;
        border: 1px solid black;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
    }    
.elevarbeid-img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }